.page {
  box-sizing: border-box;
  background-color: #0da77941;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1080px;
}

.button {
  margin: 0 auto;
  padding: 13px 0;
  width: 40%;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  background-color: rgba(11, 126, 111, 0.87);
  outline: none;
  border: none;
  border-top-right-radius: 30px;
}
  
.button:hover {
  background-color: rgba(19, 129, 96, 0.534);
  cursor: pointer;
}

.link {
  color: #fff;
  text-decoration: none;
}